.qr-code-component {
  max-width: var(--card-max-width);
  width: 100%;
  background: var(--color-white);
  padding: var(--space-large);
  border-radius: var(--radius-medium);
  font-family: var(--font-family);

  .image {
    width: 100%;
    border-radius: var(--radius-medium);
    margin-bottom: var(--space-medium);
  }

  .title {
    font-size: var(--size-large);
    color: var(--color-primary);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: var(--space-medium);
  }

  .subtitle {
    font-size: var(--size-medium);
    color: var(--color-secondary);
    font-weight: var(--font-regular);
    text-align: center;
    margin-bottom: var(--space-medium);
  }
}
